.container {
    width: 180px;
    position: relative;
    list-style: none;
    padding: 0;
}

.item {
    width:  60px;
    height: 30px;
    float: left;
    background-color: lightblue;
}

.item.w2 {
    width: 120px;
    background-color: lightsalmon;
}

.item.h2 {
    height:  50px;
    background-color: lightsteelblue;
}
.item.h3 {
    height:  70px;
    background-color: lightgrey;
}

.item.h3:nth-of-type(2n) {
    background-color: aquamarine;
}
.item.h4 {
    height:  90px;
    background-color: lightgoldenrodyellow;
}